.body {
  padding: 1em 2em;
}

.channelName {
  background-color: var(--primary-8);
  color: var(--primary-2);
  width: fit-content;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 0.2em;
  border-radius: 1em;
  font-size: 1.5rem;
  font-weight: 500;
}