.nav {
  position: fixed;
  height: 100%;
  background: var(--primary-11);
  color: rgba(255, 255,255, 0.9);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dimension {
  font-weight: 400;
  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover {
    color: purple;
    cursor: pointer;
  }
}

.button {
  border: 1.5px solid rgba(255, 255,255, 0.9);
  padding: 0.3em 0.5em;
  width: 100%;
  text-align: center;
	transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover {
    color: purple;
    border-color: purple;
  }
}