.comment {
  min-width: 300px;
  border-bottom: 1px solid var(--primary-8);
  padding: 0.5em; 

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background: var(--primary-9)
  }
}

.body {
  padding: 0 0.2em;
  font-size: 0.8rem;
  text-align: left;
  position: relative;
  color: var(--primary-3);
}

.button {
  border: 1.5px solid rgba(255, 255,255, 0.9);
  padding: 0.3em 0.5em;
  text-align: center;
	transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover {
    color: purple;
    border-color: purple;
  }
}

.buttons {
  margin-top: 0.5em;
}

.upperInfo {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 0.7rem;
  width: fit-content;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.dateAndButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.middle {
  display: flex;
}