.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.input {
  background-color: var(--primary-9);
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.2em;
  padding: 0.5em 0.7em;
  font-size: 0.8rem;
  /* 16px for scrollbar */
  width: calc(100% - 16px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover, 
  &:focus {
    background-color: var(--primary-8);
    cursor: pointer;
  }
}

.buttons {
  margin-top: 1em;
}

.center {
  margin: 0 auto;
}

.error {
  color: red;
}