
.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.textInput {
  background: #1D2021;
  border-radius: 0.2em;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0.5em;
  font-size: 0.8rem;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover,
  &:focus {
    background-color: var(--primary-9);
  }
}

.label {
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-left: 0.8em;
  font-weight: 500;
  color: var(--primary-7);
  letter-spacing: 0.05rem;
}

.viewport {
  height: 300px;
  width: 100%;
  border-radius: 0.4em;
  overflow: hidden;
  border: 1px solid var(--primary-9);
}

.uploadButton {
  /* margin-left: auto; */
  width: fit-content;
}

.uploadInfo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.loader {
  width: 100%;
  border-radius: 9999px;
  overflow: hidden;
  height: fit-content;
}

.loadingPlaceholder {
  background-color: var(--primary-9);
  height: 6px;

  &.success {
    background-color: var(--success);
  }
}

.uploadText {
  color: var(--primary-8);
  font-size: 0.65rem;
  text-transform: uppercase;

  &.success {
    color: var(--success);
  }
}