.post {
    background: #2C2E32;
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid #1D2021;
    display: flex;
    height: 100%;
    /* max-height: 501px; */
    height: 550px;
    overflow: hidden;
    /* z-index: 2; */
}

.viewportContainer {
    position: relative;
}

.viewport {
    height: 550px;
    width: 550px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-10);
}

.interactions {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 0.5em;
    overflow-x: auto;
    display: flex;
    gap: 0.2em;
}

/* .text::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    pointer-events: 
    z-index: 1; 
    top: 0;
    background: linear-gradient(to bottom, #2C2E32, transparent);
} */

