.post {
    background: #2C2E32;
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid #1D2021;
    display: flex;
    max-height: 550px;
}

.viewport {
    height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2D2E32;
}

.lower {
    padding: 0 0.5em 0.8em 0.8em;
}

/* .text::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    pointer-events: 
    z-index: 1; 
    top: 0;
    background: linear-gradient(to bottom, #2C2E32, transparent);
} */

