.profilePicture {
    height: 32px;
    width: 32px;
    border-radius: 9999px;
    object-fit: cover;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userInfo {
    display: flex;
    gap: 0.5em;
}

.userName {
    font-size: 0.7rem;
    font-weight: 400;
}

.userAt {
    font-size: 0.7rem;
    width: fit-content;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}