.main {
  background-color: var(--primary-10);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--primary-9);
  }
}

.userDetails {
  max-height: 90%;
}

.buttons {
  display: flex;
  gap: 0.5em;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.date {
  font-size: 0.7rem;
  width: fit-content;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  margin-left: auto;
}

.dateAndSettings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.upper {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  position: sticky;
  top: 0;
  background-color: var(--primary-10);
  width: auto;
}

.text {
  color: var(--primary-3);
  font-size: 0.8rem;
  text-align: left;
  height: fit-content;
  padding: 0.8em;
}

.subheader {
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-left: 0.8em;
  font-weight: 500;
  color: var(--primary-7);
  letter-spacing: 0.05rem;
}

.comments {
  /* max-height: 25%; */
  width: 100%;
  /* padding: 0.8em; */
  margin-top: auto;
}

