.likeButton {
  display: flex;
  gap: 0.5em;
  background: var(--primary-8);
  padding: 0.2em 0.4em;
  border-radius: 0.1em;
  font-size: 0.8rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
      background-color: var(--primary-7);
  }
}