.form {
  position: sticky;
  bottom: -1px;
  width: 100%;
  padding: 6px 0 6px 6px;
  /* margin-top: auto */
  /* background: #26262A; */
  background: var(--primary-10);
}

.input {
  background-color: var(--primary-9);
  -webkit-appearance: none;
  appearance: none;
  border-radius: 999em;
  padding: 0.2em 0.6em;
  font-size: 0.8rem;
  /* 16px for scrollbar */
  width: calc(100% - 16px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover,
  &:focus {
    background-color: var(--primary-8);
  }
}